@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
}

/*--Header--*/

header {
	width: 100%;
	padding: 1% 0;
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo img {
	width: 25%;
	position: relative;
	left: 8%;
}

#hamburger{
	display: none;
}

#menu-ul {
	display: flex;
	flex-direction: row;
	position: relative;
	right: 2%;
}

.menu-li {
	padding: 0 10px;
	list-style: none;
}

a {
	text-decoration: none;
	color: white;
	font-size: 1.5vw;
}

/*--Main--*/

#background1 {
	background-image: url("../image/Ide til hjemmeside-15.png");
	background-repeat:no-repeat;
   	background-size: cover;
   	min-height: 100vh;
	background-position: center;
	background-attachment: fixed;
}

#background2 {
	background-image: url("../image/background.png");
	background-repeat:no-repeat;
   	background-size: cover;
   	min-height: 100vh;
	background-position: center;
	background-attachment: fixed;
}

#container{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 75vh;
}

h1 {
	font-size: 4vw;
	color: white;
	background-color: black;
	padding: 10px;
	border-radius: 10px;
	margin: 0;
}

/*--Footer--*/

footer {
	width: 100%;
	padding: 1% 0;
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.SoME {
	width: 3%;
	margin: 0 18px;
}

/*--CV.html--*/

.cv {
	width: 35%;
	margin: 0 10px;
}

/*--Om-mig.html og Aktiviteter.html--*/

p {
	font-size: 2vw;
	color: white;
	background-color: black;
	padding: 10px;
	border-radius: 10px;
	margin: 0;
}

/*--Responsiv--*/

@media screen and (max-width: 415px){
	#logo img {
	width: 20%;
	left: 4%;
}
	#hamburger{
	display: block;
	float: right;
	width: 10%;
	position: relative;
	right: 3%;
}
	#menu.menu-open {
	display:block;
}
	#menu{
	display: none;
	position: absolute;
	top: 9%;
	background-color: black;
	right: 0;
}
	#menu-ul {
	flex-direction: column;
	padding: 0;
}
	.menu-li {
	padding: 5px 10px;
	list-style: none;
}
	a{
	font-size: 5.5vw; 
	}
	h1 {
	font-size: 10vw;
	text-align: center
}
	p{
		font-size: 5.5vw;
	}
	#container{
		flex-direction: column;
	}
	.cv{
		width:100%;
		margin: 10px 0;
	}
	.SoME {
	width: 15%;
	margin: 0 5px;
	position: relative; 
	left: 1%;
}
}

@media screen and (max-width: 1025px) and (min-width: 416px){
	#logo img {
	width: 54%;
}
	a{
	font-size: 4vw; 
}
	h1 {
	font-size: 8vw;
	text-align: center
}
	p{
	font-size: 4vw;
	}
	#container{
		flex-direction: column;
	}
	.cv{
		width:100%;
		margin: 10px 0;
	}
	.SoME {
	width: 12%;
	margin: 0 5px;
	position: relative;
	left: 1%;
}
}



